*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: pretendard;

  transition:  all 0.3s ease;
}

button{
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

body {
  overflow-y: scroll;
}

